[submodule "Project1PSM"]
	path = Project1PSM
	url = git@github.com:MiloDem000n/Project1PSM.git
[submodule "Project2PSM"]
	path = Project2PSM
	url = git@github.com:MiloDem000n/Project2PSM.git
[submodule "Project3PSM"]
	path = Project3PSM
	url = git@github.com:MiloDem000n/Project3PSM.git
[submodule "Project4PSM"]
	path = Project4PSM
	url = git@github.com:MiloDem000n/Project4PSM.git
[submodule "Project5PSM"]
	path = Project5PSM
	url = git@github.com:MiloDem000n/Project5PSM.git
[submodule "Project6PSMJava"]
	path = Project6PSMJava
	url = git@github.com:MiloDem000n/Project6PSMJava.git
[submodule "Project6PSMPython"]
	path = Project6PSMPython
	url = git@github.com:MiloDem000n/Project6PSMPython.git
[submodule "Project7PSM"]
	path = Project7PSM
	url = git@github.com:Mil000D/Project7PSM.git
[submodule "Project8PSM"]
	path = Project8PSM
	url = git@github.com:Mil000D/GameOfLife.git
[submodule "Project9PSM"]
	path = Project9PSM
	url = git@github.com:Mil000D/Project9PSM.git
[submodule "Project10PSM"]
	path = Project10PSM
	url = git@github.com:Mil000D/Project10PSM.git
